*, html {
    margin: 0;
    padding: 0;
  }
  /* .navbar {
    background-color: #ffffff;
    height: 80px;
    margin: 20px;
    border-radius: 100px;
    padding: 0.5rem;
  } */
  
  
  
  .nav-link {
    color: #7c7c7c90;
    font-size: 50px;
    font-weight: 900;
    position: relative;
  }
  
  /* .nav-link:hover, .nav-link:active {
  font-size: 15px;
  } */
  
  .nav-link::after {
    content: "";
    position: absolute;
    /* background-color: #73E0CB; */
    background-color: #303030;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    left: 50%;
    bottom: 0;
    transition: 0.2s ease-in-out;
  }
  
  .nav-link:hover::after {
    color: #303030;
    width: 20px;
  }
  
  .btn-signin {
    color: #303030;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s background-color;
  }
  
  .btn-signin:hover {
    color: #656565;
    font-weight: 600;
    text-decoration: none;
    animation-delay: .2ms;
  }
  
  
  
  .btn-signup {
    color: white;
    background-color: #303030;
    column-gap: 5px;
    font-weight: 600;
    padding: 6px 20px;
    text-decoration:  none;
    transition: 0.2s ease-in;
  }
  
  .btn-signup:hover {
    color: #303030;
    background-color: #ffffff;
  
    border: 2px solid;
    padding: 4px 18px;
    text-decoration:  none;
    animation-delay: .2ms;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  .btn-about{
    color: #303030;
    font-weight: 600;
    background-color: #ffffff;
    border: 2px solid;
    padding: 6px 20px;
    text-decoration: none;
  }
  
  .subjudul {
    color: #303030;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .subs-section {
    background: url(spatu1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  /* ABOUT */
  .img {
    position: relative;
    width: 100%;
    right: 0px;  
    z-index: -1;
    object-fit: cover;
  }
  
  .testimonial {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .section-heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: capitalize;
    color: #303030;
  }
  
  .car-itm {
  min-height: 500px;
  position: relative;
  color: #303030;
  }
  
  .car-capt {
    position: absolute;
    right: 15%;
    left: 15%;
    bottom: 50px;
    padding: 50px  0;
    color: #c13f3f;
  }
  /* 
  
    .hero-section {
      background: url(sptu.jpg) no-repeat center;
      background-size: cover;
      width: 100%;
      height: 100vh;
    } */
  
  
  .footer {
    bottom: 0px;
  }