      <!-- FOOTER -->
      <footer class="footer">
        <div class="container px-4">
          <div class="row py-5">
            <div class="col-6 col-lg-5">
              <img src="logo.png" alt="Sportzy" width="170" height="40" />
              <p class="">
                Lorem ipsum is placeholder text commonly used in the graphic,
                print, and publishing industries for previewing layouts and
                visual mockups. Lorem ipsum is placeholder text
              </p>
              <div>
                <a href="#" class="text-decoration-none text-black"
                  ><i class="bi bi-instagram fs-5 me-3"></i
                ></a>
                <a href="#" class="text-decoration-none text-black"
                  ><i class="bi bi-threads fs-5 me-3"></i
                ></a>
                <a href="#" class="text-decoration-none text-black"
                  ><i class="bi bi-facebook fs-5 me-3"></i
                ></a>
                <a href="#" class="text-decoration-none text-black"
                  ><i class="bi bi-twitter-x fs-5 me-3"></i
                ></a>
              </div>
            </div>
            <div class="col">
              <h6>Collection</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
              </ul>
            </div>
            <div class="col">
              <h6>Information</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-6 col-lg-3">
              <h6>Company</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-black"
                    >lorem ipsum</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="d-flex justify-content-center">
            <p>Copyright © 2024 Sportszy.co. All rights reserved.</p>
          </div>
        </div>
      </footer>
      <!-- FOOTER END -->